.Card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
	border-radius: 1rem;
	border: 2px solid black;

	cursor: pointer;
	user-select: auto;

	width: 240px;
	height: 380px;

	/* width: 300px;
	height: 450px; */

	/* width: clamp(20rem, 10vw, 38rem);
	height: clamp(25rem, 15vw, 50rem); */

	text-align: center;
	background-color: var(--header);

	transition: transform 0.1s, box-shadow 0.1s;

	position: relative; /* Ensure z-index works */
	z-index: 10; /* Lower z-index than the modal */
  }
 /*//////////////////////////////////////////////*/
  .Hoverstyles:hover {
	transform: scale(1.02); /* Slightly enlarges the card on hover */
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adds shadow on hover */
  }  
  /* Click/Active effect */
  .Hoverstyles:active {
	transform: scale(0.98); 
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  }  
  /* Focus effect (if clickable via keyboard) */
  .Hoverstyles:focus {
	/* outline: 2px solid #ffcc00; */
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
/*//////////////////////////////////////////////*/

  h3{
	font-size: clamp(5.6rem, 8vw, 7.2rem);
  }
  .Jukugo rt{
	/*furigana*/
	font-size: clamp(1.4rem, 8vw, 1.8rem);
  }

  .CardMeaningsDiv {
	font-size: clamp(1.2rem, 8vw, 2.5rem);
	width: 100%;
	ul{
		list-style-position: outside;
		list-style-type: "🍙";
		padding-left: 3rem;
	}
  }

  hr {
	/* Line separating example section */
	width: 90%;
	border: none;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.5);
  }

  .CardExampleDiv {
	font-size: clamp(1.4rem, 70%, 2rem);
	/* font-size: clamp(1rem, 8vw, 2rem); */
	padding-top: 10px;
	color: rgba(0, 0, 0, 0.8);
  }
  .CardExampleDiv rt {
	/* font-size: clamp(0.5rem, 8vw, 0.9rem); */
  }
    
  .ExampleJP {
	/* word-break: auto-phrase;
	max-width: 340px; */
	
	text-wrap: balance;	
	/*experimental auto-phrase will overflow unless width set.
	HTML lang also must be 'ja' for it to work.

	Probably still better, but textwrap balance is an option too.
	However in practise it seems a bit hit and miss*/
  }
  .ExampleEN {
	font-style: italic; /* Make English translation italic */
  }
  