:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header: #f9d77e;
  --main: #ffdfa0;
  /* --highlighted: #22334B; */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;

  /* outline: 1px solid red; */
}
html {
  font-size: 62.5%;
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  min-height: 100vh;
  scroll-behavior: smooth;
  caret-color: transparent;
}
body {
  font-size: 2rem;
  /* font-size: calc(1.5rem + 0.4vw); */
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  /* FONTSIZE - Adding the 0.4 is for responsivity */
}
/* ----------------------------------------- */
html {
  background-color: var(--header);
  /* This will affect the bottom navbar on mobile*/
  /* overflow-x: hidden; */
  /*fallback if you can't find the horizontal overflow*/
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /*This is important for flex-based bottom footer*/
}
/* ----------------------------------------- */
header {
  background-color: var(--header);
  padding-bottom: 1rem;

  background: linear-gradient(
    to bottom,
    #f9d77e 80%,
    /* Darker tone for 90% of the header */ #ffdfa0 100%
      /* Lighter tone starts at 90% */
  );

  width: 100%;
  text-align: center;
}
h1 {
  /* filter: drop-shadow(1px 1px 1px black); */
  font-size: clamp(3.3rem, 5vw, 4.5rem);
}
main {
  background-color: var(--main);
  padding: 2rem 0;
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-items: center;
}
footer {
  background-color: var(--header);

  background: linear-gradient(
    to top,
    #f9d77e 60%,
    /* Darker tone for 90% of the header */ #ffdfa0 100%
      /* Lighter tone starts at 90% */
  );

  width: 100%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  filter: drop-shadow(0px 0px 4px rgb(var(--header)));
}
.fa-brands {
  color: rgb(0, 0, 0);
}
/* ----------------------------------------- */
/* ----------------------------------------- */
.MainMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* background-image: url("./assets/karate.png"), url("./assets/kabuki.png"); */
  background-position: 10% 90%, 90% 90%;
  background-repeat: no-repeat;
  background-size: clamp(50px, 25vw, 500px), clamp(50px, 25vw, 500px);
}
/* ----------------------------------------- */

/* ----------------------------------------- */
.Splash {
  display: flex;
  flex-direction: column;
  max-width: clamp(30rem, 90vw, 100rem);
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.SplashText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.SplashText p {
  padding: 2rem 1rem;
}
.Modes {
  /*the buttons div*/
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* ----------------------------------------- */
button {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid black;

  color: black;
  cursor: pointer;
  user-select: none;
  padding: 0.25em 1em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;

  text-align: center;
  background-color: var(--header);

  position: relative;
}
.Disabled {
  background-color: var(--header);
  filter: grayscale(0.1) brightness(0.9);
  cursor: not-allowed;
}

.icon {
  display: auto;
  position: absolute;
  right: -5%;
  top: -25%;
  transform: rotateZ(-15deg);
}
.passed {
  
}
.not-passed {
  opacity: 0.98;
  filter: grayscale(0.8) brightness(0.8);
}
/* ----------------------------------------- */
.TenCardsParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /*make self grow to fill container*/
  /*complicated, not sure why required. other atts below too*/
}
.TenCardsInfo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}
.TenCards {
  justify-self: center;
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(28rem + 3vw), 1fr)
  );
  gap: 4rem 0rem;
  padding: 2rem 0;
  align-items: center;
  justify-items: center;
}
.Loading {
  font-size: clamp(3rem, 8vw, 4rem);
}
