:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header: #F9D77E;
  --main: #FFDFA0;
  /* --highlighted: #22334B; */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid red; */

}
html {
  font-size: 62.5%;
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  min-height: 100vh;
  scroll-behavior: smooth;
  caret-color: transparent;
}
body {
  font-size: 2rem;
  /* font-size: calc(1.5rem + 0.4vw); */
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  /* FONTSIZE - Adding the 0.4 is for responsivity */
}
/* button {
  border-radius: 1rem;
  outline: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* ----------------------------------------- */
html {
  background-color: var(--main);
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  /*This is important for flex-based bottom footer*/
}
/* ----------------------------------------- */
header {
  background-color: var(--header);
  padding-bottom: 1rem;
  
  background: linear-gradient(
    to bottom, 
    #F9D77E 80%, /* Darker tone for 90% of the header */
    #FFDFA0 100% /* Lighter tone starts at 90% */
  );
  
  /* border-bottom: 1px solid black;
  filter: drop-shadow(1px 1px 50px black); */
  width: 100%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
h1 {
  /* filter: drop-shadow(1px 1px 1px black); */
  font-size: clamp(3.3rem, 5vw, 4.5rem);
}
main {
  background-color: var(--main);
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-items: center;
}
footer {
  background-color: var(--header);
  width: 100%;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  filter: drop-shadow(0px 0px 4px rgb(var(--header)));
}
.fa-brands {
  color: whitesmoke;
}
/* ----------------------------------------- */
/* ----------------------------------------- */
.MainMiddle {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.Splash{
  display: flex;
  flex-direction: column;
  max-width: clamp(30rem, 90vw, 100rem);
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.SplashText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.SplashText p {
  padding: 2rem 1rem;
}
.Modes {
  /*the buttons div*/
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Modes button {
  padding: 1rem;
	border-radius: 1rem;
	border: 2px solid black;

  color: black;
	cursor: pointer;
	user-select: none;
  padding: 0.25em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

	text-align: center;
	background-color: var(--header);
}






.TenCards {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(calc(30rem + 2vw), 1fr));
 gap: 2rem;
 width: 100%;
 padding: 1rem;
 align-items: center;
 justify-content: center;
}